<%= form_with(model: [@client, @phone]) do |form| %>
  <% if phone.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>
      <ul>
        <% phone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row d-flex align-items-center justify-content-center">
    <%= form.label :Cliente, style: "display: block", class:"col-sm-4 form-control-label" do %>
      <span class="tx-bold"><%="#{@client.first_name} #{@client.middle_name} #{@client.last_name}"%></span>
    <% end %>
  </div>
  <div class="row mg-t-20">
    <%= form.label :Number, style: "display: block", class:"col-sm-4 form-control-label" do %>
      Número de teléfono <span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :number,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-10 d-flex justify-content-center">
    <div class="form-layout mg-t-30 mt-2">
      <%= form.submit "Confirmar", class:"btn btn-success"%>
    </div>
  </div>
<% end %>
