<div class="card">
  <div class="card-header" role="tab" id="headingOne">
    <h6 class="mg-b-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="tx-gray-800 transition">
        <h6 class="tx-info tx-bold m-2" >Informacion</h6>
      </a>
    </h6>
  </div>
  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-block pd-20">
      <div id="<%= dom_id contract %>">
        <div class="form-layout form-layout-7">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>ID</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control" >
                <span><%=contract.id%></span>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Cliente</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <%=link_to contract.client do%>
                  <span><%="#{contract.client.first_name} #{contract.client.middle_name} #{contract.client.last_name}"%></span>
                <% end %>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Lotes</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <% if contract.batches.empty? %>
                  <span class="tx-danger">Sin lotes</span>
                <% else %>
                  <span>||</span>
                  <%contract.batches.each do |batch|%>
                    <%=link_to batch do%>
                      <span><%=batch.uuid%></span>
                    <% end %>
                    <span>||</span>
                  <% end %>
                <% end %>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Monto Total</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span class="tx-primary tx-bold"><%=number_to_currency(contract.total_amount)%></span>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Pago mensual</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span class="tx-info tx-bold"><%=number_to_currency(contract.monthly_payment)%></span>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Enganche</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span class="tx-bold"><%=number_to_currency(contract.down_payment)%></span>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Primer pago</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span class=""><%=contract.first_payment.strftime("%d-%m-%Y")%></span>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Siguiente pago</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <% if Time.now<=contract.next_payment %>
                  <span class=""><%=contract.next_payment.strftime("%d-%m-%Y")%></span>
                <% else %>
                  <span class="tx-danger tx-bold"><%=contract.next_payment.strftime("%d-%m-%Y")%></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Pagos realizados</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span><%="#{contract.payments.length} de #{contract.total_payments}"%></span>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Total pagado</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <%
                  total_paid=contract.down_payment
                  contract.payments.each do |payment|
                  total_paid+=payment.amount
                  end
                %>
                <span class="tx-success tx-bold"><%=number_to_currency(total_paid)%></span>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Adeudo total</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <%to_pay = contract.total_amount-total_paid %>
                <span class="tx-warning tx-bold"><%=number_to_currency(to_pay)%></span>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Plano entregado</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span class= <%= contract.map==true ? "tx-success" : "tx-danger"%> >
                  <%= contract.map==true ? "Si" : "No"%>
                </span>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span>Comentarios</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span><%=contract.comments%></span>
              </div>
            </div>
            <!-- col-8 -->
          </div>
          <!-- col-8 -->
        </div>
        <!-- col-8 -->
      </div>
      <!-- row -->
    </div>
  </div>
</div>
