<div id="<%= dom_id contract %>">
  <p>
    <strong>Contract ID:</strong>
    <%= contract.id %>
  </p>
  <p>
    <strong>Client:</strong>
    <%= contract.client_id %>
  </p>
  <p>
    <strong>Total amount:</strong>
    <%= contract.total_amount %>
  </p>
  <p>
    <strong>Total payments:</strong>
    <%= contract.total_payments %>
  </p>
  <p>
    <strong>Comments:</strong>
    <%= contract.comments %>
  </p>
  <p>
    <strong>Lotes:</strong>
    <br>
    <%= contract.batches.map{ |b| [ "Manzana - #{b.block}, Lote - #{b.lot} "] }.join("; ")%>
  </p>
</div>
