<div class="pd-10 mg-t-20 bg-info d-lg-flex justify-content-between">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" >Contrato <%=@contract.id%></h5>
  </div>
  <div class="d-flex">
    <div>
      <%= link_to contracts_path, class:"btn btn-primary" do%>
        <i class="fa fa-reply"></i>
      <% end %>
    </div>
    <%= link_to new_with_contract_path(@contract.id), class:"btn btn-teal" do%>
      <i class="fa fa-money"></i>
      <span class="tx-white tx-bold">Anadir pago</span>
    <% end %>
    <div class="btn-group ">
      <button type="button" class="btn btn-purple btn-block mg-b-10 dropdown-toggle tx-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-navicon"></i>
        <span class="tx-white">Opciones</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <%= link_to edit_contract_path(@contract), class:"" do%>
            <i class="fa fa-pencil"></i>
            <span class="tx-bold">Editar contrato</span>
          <% end %>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">
          <%= button_to @ccontract, method: :delete, class:"btn btn-danger btn-block mg-b-10" do%>
            <i class="icon ion-close"></i>
            <span class="tx-bold">Eliminar contrato</span>
          <% end %>
        </div >
      </div>
    </div>
  </div>
</div>
<div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
  <%= render @contract %>
</div>
<br>
<br>
<div class="pd-10 mg-t-20 bg-info d-lg-flex">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" >Lista de pagos</h5>
  </div>
</div>
<div class="bd rounded table-responsive">
  <table class="table table-bordered mg-b-0">
    <thead>
      <tr>
        <th class="bg-secondary"><span class="tx-white">Fecha a-m-d</span> </th>
        <th class="bg-secondary"><span class="tx-white">Folio</span> </th>
        <th class="bg-secondary"><span class="tx-white">Tipo</span> </th>
        <th class="bg-secondary"><span class="tx-white">Monto</span> </th>
        <th class="bg-secondary"><span class="tx-white">Opciones</span> </th>
      </tr>
    </thead>
    <tbody>
      <%@contract.payments.each do |payment|%>
        <tr>
          <%=render "payments_table", payment:payment%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
