<div class="card">
  <div class="card-header" role="tab" id="headingThree">
    <h6 class="mg-b-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="tx-gray-800 transition">
        <h6 class="tx-info tx-bold m-2" >Address list</h6>
      </a>
    </h6>
  </div>
  <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
    <div class="card-block pd-20">
      <p>
        <% if client.addresses.empty?%>
          <p class="tx-bold">Sin direcciones</p>
        <%else%>
          <div class="form-layout form-layout-7">
            <%client.addresses.each_with_index do |address,index| %>
              <div class="pd-5 bg-info mt-1 d-flex align-items-center justify-content-between">
                <div class="tx-white m-2 tx-bold">
                  <%="Address N. #{index+1}"%>
                </div>
                <div class="d-flex align-items-center">
                  <%= link_to edit_client_address_path(@client,address) do%>
                    <button class="btn btn-warning active btn-block">Edit this address</button>
                  <% end %>
                </div>
              </div>
              <div class="row no-gutters ">
                <div class="col-5 col-sm-4">
                  <span class="tx-bold">Street</span>
                </div>
                <!-- col-4 -->
                <div class="col-7 col-sm-8">
                  <div class="form-control" >
                    <span><%=address.street%></span></div>
                </div>
                <!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                  <span class="tx-bold">Block</span>
                </div>
                <!-- col-4 -->
                <div class="col-7 col-sm-8">
                  <div class="form-control" >
                    <span><%=address.block%></span></div>
                </div>
                <!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                  <span class="tx-bold">Lot</span>
                </div>
                <!-- col-4 -->
                <div class="col-7 col-sm-8">
                  <div class="form-control" >
                    <span><%=address.lot%></span></div>
                </div>
                <!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                  <span class="tx-bold">Colony</span>
                </div>
                <!-- col-4 -->
                <div class="col-7 col-sm-8">
                  <div class="form-control" >
                    <span><%=address.colony%></span></div>
                </div>
                <!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                  <span class="tx-bold">Postal Code</span>
                </div>
                <!-- col-4 -->
                <div class="col-7 col-sm-8">
                  <div class="form-control" >
                    <span><%=address.postal_code%></span></div>
                </div>
                <!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                  <span class="tx-bold">City</span>
                </div>
                <!-- col-4 -->
                <div class="col-7 col-sm-8">
                  <div class="form-control" >
                    <span><%=address.city%></span></div>
                </div>
                <!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                  <span class="tx-bold">State</span>
                </div>
                <!-- col-4 -->
                <div class="col-7 col-sm-8">
                  <div class="form-control" >
                    <span><%=address.state%></span></div>
                </div>
                <!-- col-8 -->
              </div>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
