<div class="card">
  <div class="card-header" role="tab" id="headingOne">
    <h6 class="mg-b-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="tx-gray-800 transition">
        <h6 class="tx-info tx-bold m-2" >Información personal</h6>
      </a>
    </h6>
  </div>
  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-block pd-20">
      <div id="<%= dom_id client %>">
        <div class="form-layout form-layout-7">
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span class="tx-bold">ID</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control" >
                <span><%=client.id%></span></div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span class="tx-bold">Nombre</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span><%=client.first_name%></span></div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span class="tx-bold">Apellido paterno</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span><%=client.middle_name%></span></div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4">
              <span class="tx-bold">Apellido materno</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span><%=client.last_name%></span></div>
            </div>
            <!-- col-8 -->
          </div>
          <div class="row no-gutters">
            <div class="col-5 col-sm-4 d-flex">
              <span class="tx-bold mg-1 d-flex">E-mail</span>
            </div>
            <!-- col-4 -->
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <%if client.email.nil?%>
                  <span class="">No especificado</span></div>
              <% else %>
                <span><%=client.email%></span></div>
            <% end %>
          </div>
          <!-- col-8 -->
        </div>
        <div class="row no-gutters">
          <div class="col-5 col-sm-4">
            <span class="tx-bold">Estado</span>
          </div>
          <!-- col-4 -->
          <% if client.status==true %>
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span class="tx-primary tx-bold">Activo</span>
              </div>
            </div>
          <% else %>
            <div class="col-7 col-sm-8">
              <div class="form-control">
                <span class="tx-danger tx-bold">Inactivo</span>
              </div>
            </div>
          <% end %>
        </div>
        <!-- col-8 -->
      </div>
      <!-- col-8 -->
    </div>
    <!-- row -->
    <!-- card-header -->
  </div>
</div>
</div>
