<td><%= client.id%></td>
<td><%= client.first_name%></td>
<td><%= client.middle_name%></td>
<td><%= client.last_name%></td>
<td><%= client.status%></td>
<td> <%= link_to client do%>
    <span>Show</span>
  <% end %>
</td>
