<th scope="row"><%=contract.id%></th>
<td>
  <% if contract.batches.empty? %>
    <span class="tx-danger">No batches</span>
  <% else %>
    <span>/</span>
    <%contract.batches.each do |batch|%>
      <%=link_to batch do%>
        <span><%=batch.uuid%></span>
      <% end %>
      <span>/</span>
    <% end %>
  <% end %>
</td>
<td><%="$ #{contract.total_amount+0.0}"%></td>
<td><%=contract.total_payments%></td>
<td><%="$ #{contract.down_payment+0.0}"%></td>
<td> <%= link_to contract do%>
    <span>Show</span>
  <% end %>
</td>
