<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= form.label :first_name, style: "display: block", class:"col-sm-4 form-control-label" do %>
      First Name <span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :first_name,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label :middle_name, style: "display: block", class:"col-sm-4 form-control-label" do %>
      Middle Name <span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :middle_name,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20 mb-4">
    <%= form.label :last_name, style: "display: block", class:"col-sm-4 form-control-label" do %>
      Last Name <span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :last_name,class:"form-control"%>
    </div>
  </div>
  <div class="d-flex">
    <%= form.label :status, style: "display: block", class:"col-lg-4" %>
    <%= form.check_box :status, class:"radiobox"%>
  </div>
  <div class="row mg-t-10 d-flex justify-content-center">
    <div class="form-layout-footer mg-t-30 mt-2">
      <%= form.submit "Confirm", class:"btn btn-success"%>
    </div>
  </div>
<% end %>
