<h1>Hola Mundo</h1>
<p>
  <%= link_to "Back to clients", clients_path %>
</p>
<%=render "search"%>
<br>
<br>
<h5>Resultados para: &nbsp;<span class="tx-success"> "<%=@value%>"</span></h5>
<% unless @error %>
  <% unless @results.empty?%>
    <%@results.each do |result|%>
      <%=link_to result do%>
        <span><%="#{result.first_name} #{result.middle_name} #{result.last_name}"%></span><br>
      <% end %>
    <% end %>
  <% else %>
    <span><%=@error%></span>
  <% end %>
<% end %>
