<div class="pd-10 mg-t-20 bg-info d-lg-flex justify-content-between">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" ><%="Información de cliente No. #{@client.id}"%></h5>
  </div>
  <div class="d-lg-flex">
    <div>
      <%= link_to clients_path, class:"btn btn-primary" do%>
        <i class="fa fa-reply"></i>
      <% end %>
    </div>
    <div class="btn-group ">
      <button type="button" class="btn btn-purple btn-block mg-b-10 dropdown-toggle tx-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-navicon"></i>
        <span class="tx-white">Opciones</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <%= link_to edit_client_path(@client), class:"" do%>
            <i class="fa fa-pencil"></i>
            <span class="tx-bold">Editar cliente</span>
          <% end %>
        </div>
        <div class="dropdown-item">
          <%= link_to new_client_phone_path(@client), class:"" do%>
            <i class="fa fa-phone"></i>
            <span class="tx-bold">Agregar teléfono</span>
          <% end %>
        </div>
        <div class="dropdown-item">
          <%= link_to new_client_address_path(@client), class:"" do%>
            <i class="fa fa-home"></i>
            <span class="tx-bold">Agregar dirección</span>
          <% end %>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">
          <%= button_to @client, method: :delete, :onclick => "return confirm('Desea eliminar este cliente de manera permanente')", class:"btn btn-danger btn-block mg-b-10" do%>
            <i class="icon ion-close"></i>
            <span class="tx-bold">Eliminar</span>
          <% end %>
        </div >
      </div>
    </div>
  </div>
</div>
<div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
  <%=render @client%>
  <%=render "/clients/phones", client: @client%>
  <%=render "/clients/addresses", client:@client%>
  <br>
  <br>
</div>
<div class="pd-10 mg-t-20 bg-info d-lg-flex">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" >Contratos</h5>
  </div>
</div>
<div class="bd rounded table-responsive">
  <table class="table table-bordered mg-b-0">
    <thead>
      <tr>
        <th class="bg-secondary"><span class="tx-white">ID</span></th>
        <th class="bg-secondary"><span class="tx-white">Lotes</span></th>
        <th class="bg-secondary"><span class="tx-white">Pagos totales</span></th>
        <th class="bg-secondary"><span class="tx-white">Siguiente Pago</span></th>
        <th class="bg-secondary"><span class="tx-white">Monto Total</span></th>
        <th class="bg-secondary"><span class="tx-white">Enganche</span></th>
        <th class="bg-secondary"><span class="tx-white">Total pagado</span></th>
        <th class="bg-secondary"><span class="tx-white">Adeudo total</span></th>
        <th class="bg-secondary"><span class="tx-white">Plano entregado</span></th>
        <th class="bg-secondary"><span class="tx-white">Opciones</span></th>
      </tr>
    </thead>
    <tbody>
      <%@contracts.each do |contract|%>
        <tr>
          <%=render "contracts_table", contract:contract%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- bd-0 -->
