<div class="pd-10 mg-t-20 bg-info d-lg-flex justify-content-between">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" >Client information</h5>
  </div>
  <div class="d-flex">
    <%= link_to clients_path, class:"btn btn-primary" do%>
      <div class="tx-white m-2 tx-bold">Back to clients list</div>
    <% end %>
    <div class="btn-group ">
      <button type="button" class="btn btn-teal btn-block mg-b-10
 dropdown-toggle tx-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <%= link_to edit_client_path(@client), class:"" do%>
            <span class="tx-bold">Edit this client</span>
          <% end %>
        </div>
        <div class="dropdown-item">
          <%= link_to new_client_phone_path(@client), class:"" do%>
            <span class="tx-bold">Add phone</span>
          <% end %>
        </div>
        <div class="dropdown-item">
          <%= link_to new_client_address_path(@client), class:"" do%>
            <span class="tx-bold">Add address</span>
          <% end %>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">
          <%= button_to @client, method: :delete, class:"btn btn-danger btn-block mg-b-10" do%>
            <span class="tx-bold">Destroy</span>
          <% end %>
        </div >
      </div>
    </div>
  </div>
</div>
<div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
  <%=render @client%>
  <%=render "/clients/phones", client: @client%>
  <%=render "/clients/addresses", client:@client%>
  <br>
  <br>
</div>
<div class="pd-10 mg-t-20 bg-info d-lg-flex">
  <div class="d-lg-flex align-items-center" role="tablist">
    <h5 class="tx-white m-2 tx-bold" >Contracts</h5>
  </div>
</div>
<div class="bd rounded table-responsive">
  <table class="table table-bordered mg-b-0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Batches</th>
        <th>Total Amount</th>
        <th>Total Payments</th>
        <th>Down payment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%@contracts.each do |contract|%>
        <tr>
          <%=render "contracts_table", contract:contract%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- bd-0 -->
