<div class="pd-10 mg-t-20 bg-info ">
  <ul class="nav nav-white-800 flex-column flex-md-row" role="tablist">
    <h6 class="tx-white m-2" >Personal Information</h6>
  </ul>
</div>
<%= render @client %>
<div class="pd-10 mg-t-20 bg-info">
  <ul class="nav nav-white-800 flex-column flex-md-row" role="tablist">
    <h6 class="tx-white m-2" >Phone Numbers</h6>
  </ul>
</div>
<%=render "/clients/phones", client: @client%>
<div class="pd-10 mg-t-20 bg-info">
  <ul class="nav nav-white-800 flex-column flex-md-row" role="tablist">
    <h6 class="tx-white m-2" >Addresses</h6>
  </ul>
</div>
<%=render "/clients/addresses", client:@client%>
<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> ||
  <%= link_to "Back to clients", clients_path %> ||
  <%= link_to new_phone_with_client_path(@client), class:"" do%>
    Add phone number
  <% end %> ||
  <%= link_to new_address_with_client_path(@client), class:"" do%>
    Add address
  <% end %>
  <%= button_to "Destroy this client", @client, method: :delete, class:"btn btn-info tx-11 pd-y-12 tx-uppercase tx-spacing-2 mb-3"%>
</div>
