<h2 class="tx-bold d-flex justify-content-center">PAGOS VENCIDOS  - <%=@notifications.length%></h2>
<br>
<br>
<div class="bd bd-gray-300 rounded table-responsive">
  <table class="table mg-b-0">
    <thead>
      <tr>
        <th>ID del contrato</th>
        <th>Cliente</th>
        <th>Fecha de pago</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <%@notifications.each do |notification|%>
        <tr>
          <th scope="row">
            <%=link_to notification do%>
              <span><%=notification.id%></span>
            <% end %>
          </th>
          <td>
            <%=link_to notification.client do%>
              <span><%="#{notification.client.first_name} #{notification.client.middle_name} #{notification.client.last_name}"%></span>
            <% end %>
          </td>
          <td>
            <span class="tx-bold tx-danger"><%=notification.next_payment.strftime("%d-%m-%Y")%></span>
          </td>
          <td>
            <%= link_to new_with_contract_path(notification.id), class:"btn btn-teal" do%>
              <i class="fa fa-money"></i>
              <span class="tx-white tx-bold">Añadir pago</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
