    <!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">   <%= link_to root_path, class: "" do %>
    <span>[</span>
    <span class="">R&R</span>
    <span>]</span>
  <% end %>
</div>
<div class="br-sideleft overflow-y-auto">
  <label class="sidebar-label pd-x-15 mg-t-20">Opciones</label>
  <div class="br-sideleft-menu">
    <%= link_to clients_path, class: "br-menu-link" do %>
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-person tx-24"></i>
        <span class="menu-item-label">Clientes</span>
      </div>
    <% end %>
    <%= link_to batches_path, class: "br-menu-link" do %>
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-pin tx-24"></i>
        <span class="menu-item-label">Lotes</span>
      </div>
    <% end %>
    <%= link_to contracts_path, class: "br-menu-link" do %>
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-filing tx-24"></i>
        <span class="menu-item-label">Contratos</span>
      </div>
    <% end %>
    <%= link_to payments_path, class: "br-menu-link" do %>
      <div class="br-menu-item">
        <i class="menu-item-icon icon fa fa-money tx-24"></i>
        <span class="menu-item-label">Pagos</span>
      </div>
    <% end %>
  </div>
  <!-- br-sideleft-menu -->
</div>
<!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->
