<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
    <%= form.label :date, style: "display: block", class:"col-sm-4 form-control-label"%>
    <%= form.date_field :date %>
  </div>
  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
    <%= form.label :file_number, style: "display: block" , class:"col-sm-4 form-control-label"%>
    <%= form.text_field :file_number %>
  </div>
  <div  class="col-sm-8 mg-t-10 mg-sm-t-0">
    <%= form.label :client, style: "display: block", class:"col-sm-4 form-control-label" do%>
      Contract<span class="tx-danger">*</span>
    <%end%>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.select :contract_id, @contracts.collect { |c| [ "Contrato de folio #{c.id} - cliente #{c.client.first_name} #{c.client.middle_name}", c.id ] }, {:prompt => 'Select contract...'}, class:"form-control selectpicker border border-gray"%>
    </div>
  </div>
  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
    <%= form.label :amount, style: "display: block" , class:"col-sm-4 form-control-label"%>
    <%= form.text_field :amount %>
  </div>
  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
    <%= form.label :kind, style: "display: block" , class:"col-sm-4 form-control-label"%>
    <%=form.select :kind, options_for_select([["Completo"],["Abono"]]), class:"form-control selectpicker border border-gray"%>
  </div>
  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
    <%= form.label :comments, style: "display: block" , class:"col-sm-4 form-control-label"%>
    <%= form.text_area :comments %>
  </div>
  <div class="row mg-t-10 d-flex justify-content-center">
    <div class="form-layout-footer mg-t-30 mt-2">
      <%= form.submit "Confirm", class:"btn btn-info"%>
    </div>
  </div>
<% end %>
