<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= form.label "Fecha a la que corresponde", style: "display: block", class:"col-sm-4 form-control-label" do%>
      Fecha de realización <span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.date_field :realization_date, class:"form-control", value: DateTime.now.strftime("%m-%d-%Y") %>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Fecha a la que corresponde", style: "display: block", class:"col-sm-4 form-control-label" do%>
      Fecha a la que corresponde <span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.date_field :date, class:"form-control", value: payment.contract.nil? ? "" : payment.date ? payment.date : payment.contract.next_payment %>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Folio", style: "display: block" , class:"col-sm-4 form-control-label" do%>
      Folio<span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :file_number, class:"form-control", value: payment.contract.payments.empty? ? 1 : payment.contract.payments.sort_by{|p| p[:file_number]}.last.file_number.to_i + 1 %>
    </div>
  </div>
  <div class="row mg-t-20 mb-4">
    <%= form.label "Cliente", style: "display: block", class:"col-sm-4 form-control-label" do%>
      Contract<span class="tx-danger">*</span>
    <%end%>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.select :contract_id, @contracts.collect { |c| [ "Contrato de folio: #{c.id} - cliente: #{c.client.first_name} #{c.client.middle_name}", c.id ] }, {:prompt => 'Select contract...'}, class:"form-control selectpicker border border-gray"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Pago", style: "display: block" , class:"col-sm-4 form-control-label" do%>
      Pago<span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <div class="d-flex">
        <%= form.text_field :amount, class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Tipo", style: "display: block" , class:"col-sm-4 form-control-label" do%>
      Tipo<span class="tx-danger">*</span>
    <% end %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%=form.select :kind, options_for_select([["Completo"],["Abono"]]), {:prompt => ""}, class:"form-control border border-gray"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Comentarios", style: "display: block" , class:"col-sm-4 form-control-label"%>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_area :comments, class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-10 d-flex justify-content-center">
    <div class="form-layout-footer mg-t-30 mt-2">
      <%= form.submit "Confirmar", class:"btn btn-success"%>
    </div>
  </div>
<% end %>
