<div id="<%= dom_id payment %>">
  <div class="form-layout form-layout-7">
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Fecha de realizacion</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <%= payment.created_at.strftime("%d-%m-%Y")%>
        </div>
      </div>
    </div>
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Fecha a la que corresponde</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <%= payment.date.strftime("%d-%m-%Y")%>
        </div>
      </div>
    </div>
    <!-- row-->
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Folio</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <%= payment.file_number %>
        </div>
      </div>
    </div>
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Numero de contrato</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <%=link_to contract_path payment.contract do%>
            <span class="tx-bold"><%= payment.contract_id %></span>
          <% end %>
        </div>
      </div>
    </div>
    <!-- row-->
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Cliente</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <%=link_to client_path payment.contract.client do%>
            <%="#{payment.contract.client.first_name} #{payment.contract.client.middle_name} #{payment.contract.client.last_name}" %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- row-->
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Monto</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <span class="tx-success tx-bold"><%=number_to_currency(payment.amount)%></span>
        </div>
      </div>
    </div>
    <!-- row-->
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Tipo</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <%= payment.kind %>
        </div>
      </div>
    </div>
    <!-- row-->
    <!-- row-->
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Comentarios</span>
      </div>
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <%= payment.comments %>
        </div>
      </div>
    </div>
    <!-- row-->
  </div>
