<td><%= payment.file_number%></td>
<td><%= payment.date%></td>
<% if payment.contract_id.nil? %>
  <td>
    <span class="tx-danger">No contract</span>
  </td>
  <td>
    <span class="tx-danger">No client</span>
  </td>
<% else %>
  <td>
    <%=link_to payment.contract do%>
      <%= payment.contract_id%>
    <% end %>
  </td>
  <td>
    <%=link_to payment.contract.client do%>
      <%="#{payment.contract.client.first_name} #{payment.contract.client.middle_name} #{payment.contract.client.last_name}" %>
    <% end %>
  </td>
<% end %>
<td><%= "$ #{payment.amount}"%></td>
<td> <%= link_to payment do%>
    <span>Show</span>
  <% end %>
</td>
