<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Block:</strong>
    <%= address.block %>
  </p>

  <p>
    <strong>Lot:</strong>
    <%= address.lot %>
  </p>

  <p>
    <strong>Colony:</strong>
    <%= address.colony %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= address.client_id %>
  </p>

</div>
