<div id="<%= dom_id address %>">
  <p>
    <strong>Cliente:</strong>
    <%=link_to client_path @client do%>
      <%= "#{address.client.first_name.capitalize} #{address.client.middle_name.capitalize} #{address.client.last_name.capitalize}"%>
    <%end%>
  </p>
  <p>
    <strong>Calle:</strong>
    <%= address.street %>
  </p>
  <p>
    <strong>Manzana:</strong>
    <%= address.block %>
  </p>
  <p>
    <strong>Lote:</strong>
    <%= address.lot %>
  </p>
  <p>
    <strong>Colonia:</strong>
    <%= address.colony %>
  </p>
  <p>
    <strong>Código postal:</strong>
    <%= address.postal_code %>
  </p>
  <p>
    <strong>Ciudad:</strong>
    <%= address.city %>
  </p>
  <p>
    <strong>Estado:</strong>
    <%= address.state %>
  </p>
</div>
