<%= form_with(model: [@client, @address]) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label "Client", style: "display: block"%>
    <span><%="#{@client.first_name} #{@client.middle_name} #{@client.last_name}"%></span>
  </div>
  <br>
  <br>
  <div>
    <%= form.label :street, style: "display: block" %>
    <%= form.text_field :street %>
  </div>
  <div>
    <%= form.label :block, style: "display: block" %>
    <%= form.text_field :block %>
  </div>
  <div>
    <%= form.label :lot, style: "display: block" %>
    <%= form.text_field :lot %>
  </div>
  <div>
    <%= form.label :colony, style: "display: block" %>
    <%= form.text_field :colony %>
  </div>
  <div>
    <%= form.label :postal_code, style: "display: block" %>
    <%= form.text_field :postal_code %>
  </div>
  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>
  <br>
  <div class="mb-3">
    <%= form.submit "Confirm", class:"btn btn-success"%>
  </div>
<% end %>
