<%= form_with(model: [@client, @address]) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row d-flex align-items-center justify-content-center">
    <%= form.label :Cliente, style: "display: block", class:"col-sm-4 form-control-label" do %>
      <span class="tx-bold"><%="#{@client.first_name} #{@client.middle_name} #{@client.last_name}"%></span>
    <% end %>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Calle", style: "display: block", class:"col-sm-4 form-control-label" %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :street,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Manzana", style: "display: block", class:"col-sm-4 form-control-label" %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :block,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Lote", style: "display: block", class:"col-sm-4 form-control-label" %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :lot,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Colonia", style: "display: block", class:"col-sm-4 form-control-label" %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :colony ,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Código Postal", style: "display: block", class:"col-sm-4 form-control-label" %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :postal_code,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Ciudad", style: "display: block", class:"col-sm-4 form-control-label" %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :city,class:"form-control"%>
    </div>
  </div>
  <div class="row mg-t-20">
    <%= form.label "Estado", style: "display: block", class:"col-sm-4 form-control-label" %>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <%= form.text_field :state ,class:"form-control"%>
    </div>
  </div>
  <br>
  <div class="row mg-t-10 d-flex justify-content-center">
    <div class="form-layout mg-t-30 mt-2">
      <%= form.submit "Confirmar", class:"btn btn-success"%>
    </div>
  </div>
<% end %>
