<div id="<%= dom_id batch %>">
  <div class="form-layout form-layout-7">
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Identificador</span>
      </div>
      <!-- col-4 -->
      <div class="col-7 col-sm-8">
        <div class="form-control" >
          <span><%=batch.uuid%></span>
        </div>
      </div>
      <!-- col-8 -->
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Precio</span>
      </div>
      <!-- col-4 -->
      <div class="col-7 col-sm-8">
        <div class="form-control">
          <span class="tx-bold"><%=number_to_currency(batch.price)%></span>
        </div>
      </div>
      <!-- col-8 -->
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Manzana</span>
      </div>
      <!-- col-4 -->
      <div class="col-7 col-sm-8">
        <div class="form-control">
          <span><%=batch.block%></span>
        </div>
      </div>
      <!-- col-8 -->
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Lote</span>
      </div>
      <!-- col-4 -->
      <div class="col-7 col-sm-8">
        <div class="form-control">
          <span><%=batch.lot%></span>
        </div>
      </div>
      <!-- col-8 -->
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Estado</span>
      </div>
      <!-- col-4 -->
      <% if batch.state=="1" %>
        <div class="col-7 col-sm-8">
          <div class="form-control">
            <span class="tx-warning">Disponible</span>
          </div>
        </div>
      <% else %>
        <div class="col-7 col-sm-8">
          <div class="form-control">
            <span class="tx-success">Vendido</span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Area</span>
      </div>
      <!-- col-4 -->
      <div class="col-7 col-sm-8">
        <div class="form-control">
          <span><%="#{batch.square_meters} m2"%></span>
        </div>
      </div>
      <!-- col-8 -->
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Contrato</span>
      </div>
      <!-- col-4 -->
      <% unless batch.contract_id.nil? %>
        <div class="col-7 col-sm-8">
          <div class="form-control">
            <%=link_to batch.contract do%>
              <span><%=batch.contract_id%></span>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="col-7 col-sm-8">
          <div class="form-control">
            <span>Sin contrato</span>
          </div>
        </div>
      <% end %>
      <!-- col-8 -->
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Colindancias</span>
      </div>
      <!-- col-4 -->
      <div class="col-7 col-sm-8">
        <div class="form-control">
          <span><%=batch.boundaries%></span>
        </div>
      </div>
      <!-- col-8 -->
    </div>
    <div class="row no-gutters">
      <div class="col-5 col-sm-4">
        <span>Descripción</span>
      </div>
      <!-- col-4 -->
      <div class="col-7 col-sm-8">
        <div class="form-control">
          <span><%=batch.description%></span>
        </div>
      </div>
      <!-- col-8 -->
    </div>
    <!-- col-8 -->
  </div>
  <!-- col-8 -->
</div>
<!-- row -->
