<div id="<%= dom_id batch %>">
  <p>
    <strong>Batch ID:</strong>
    <%= batch.id %>
  </p>
  <p>
    <strong>Contract:</strong>
    <%= batch.contract_id %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= batch.price %>
  </p>
  <p>
    <strong>Area:</strong>
    <%="#{ batch.square_meters} m2" %>
  </p>
  <p>
    <strong>Lot:</strong>
    <%= batch.lot %>
  </p>
  <p>
    <strong>Block:</strong>
    <%= batch.block %>
  </p>
  <p>
    <strong>Boundaries:</strong>
    <%= batch.boundaries %>
  </p>
  <p>
    <strong>State:</strong>
    <%= batch.state %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= batch.description %>
  </p>
</div>
