<td><%= batch.uuid%></td>
<td><%= batch.price%></td>
<td><%= batch.lot%></td>
<td><%= batch.block%></td>
<% if batch.state == "1" %>
  <td><span class="tx-warning">Free</span></td>
<% else %>
  <td><span class="tx-success">Sold</span></td>
<% end %>
<td><%= batch.contract_id.nil? ? "No contract" : batch.contract_id%></td>
<td> <%= link_to batch do%>
    <span>Show</span>
  <% end %>
</td>
